@model IEnumerable<DAL_JYF.Match>


<fieldset>
    <legend>Critères de sélection</legend>
    <input type="date" id="dateTag" placeholder="Choisissez une date" />
    <button onclick="TriParDate()">Rechercher</button>


    <input id="clubTag" list="listeClub" placeholder="Choisissez un club" />
    <datalist id="listeClub">
        <option value="Tous les clubs" />
        <option value="Lyon" />
        <option value="Givors" />
        <option value="Rive de Gier" />
        <option value="Meximieux" />
        <option value="Trèves" />
    </datalist>
    <button onclick="TriParClub()">Rechercher</button>

    <input list="listeArb" placeholder="Choisissez un arbitre" />
    <datalist id="listeArb">
        <option value="Tous les arbitres" />
        <option value="Orias" />
        <option value="Gornet" />
        <option value="Despinasse" />
    </datalist>

    <input list="listeDiv" placeholder="Choisissez une division" />
    <datalist id="listeDiv">
        <option value="R1" />
        <option value="R2" />

    </datalist>
    <br />
    


</fieldset>
<p>
    @Html.ActionLink("Mise à jour", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CalendrierMatch.DateJournee)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HeureMatch.Hour)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NiveauMatch)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Locaux)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Visiteurs)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ArbitreMatch)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AdresseMatch)
        </th>
        <th></th>
    </tr>
    

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CalendrierMatch.DateJournee)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HeureMatch.Hour)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NiveauMatch)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Locaux)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Visiteurs)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArbitreMatch.Nom)
                @Html.DisplayFor(modelItem => item.ArbitreMatch.Prenom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdresseMatch.NomAdresse)
                @Html.DisplayFor(modelItem => item.AdresseMatch.Numero)
                @Html.DisplayFor(modelItem => item.AdresseMatch.Rue)
                @Html.DisplayFor(modelItem => item.AdresseMatch.CodePostal)
                @Html.DisplayFor(modelItem => item.AdresseMatch.Ville)
            </td>
            <td>
                @Html.ActionLink("Modifier", "Edit", new { id = item.MatchId }) |
                @Html.ActionLink("EditTest", "EditTest", new { id = item.MatchId }) |
                @Html.ActionLink("Supprimer", "Delete", new { id = item.MatchId })
            </td>
        </tr>
    }

</table>
