@model IEnumerable<DAL_JYF.Match>



<p>
    @Html.ActionLink("Mise à jour", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CalendrierMatch)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HeureMatch)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NiveauMatch)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Locaux)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Visiteurs)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ArbitreMatch)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AdresseMatch)
        </th>
        <th></th>
    </tr>
    

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CalendrierMatch.DateJournee.Day) 
                <text>/</text>
                @Html.DisplayFor(modelItem => item.CalendrierMatch.DateJournee.Month)
                <text>/</text>
                @Html.DisplayFor(modelItem => item.CalendrierMatch.DateJournee.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HeureMatch.Hour)
                <text>h</text>
                @Html.DisplayFor(modelItem => item.HeureMatch.Minute)
                @Html.DisplayFor(modelItem => item.HeureMatch.Second)


            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NiveauMatch)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Locaux)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Visiteurs)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArbitreMatch.Nom)
                @Html.DisplayFor(modelItem => item.ArbitreMatch.Prenom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdresseMatch.NomAdresse)
                @Html.DisplayFor(modelItem => item.AdresseMatch.Numero)
                @Html.DisplayFor(modelItem => item.AdresseMatch.Rue)
                @Html.DisplayFor(modelItem => item.AdresseMatch.CodePostal)
                @Html.DisplayFor(modelItem => item.AdresseMatch.Ville)
            </td>
            <td>
                @Html.ActionLink("Modifier", "Edit", new { id = item.MatchId }) |
                @Html.ActionLink("EditTest", "EditTest", new { id = item.MatchId }) |
                @Html.ActionLink("Supprimer", "Delete", new { id = item.MatchId })
            </td>
        </tr>

    }

</table>
@section scripts{
    <script src="~/Scripts/AffectationArbitre.js"></script>
<script src="~/Scripts/SupprimerArbitre.js"></script>
}
